@media(max-width:768px){
    #myFirstTable,#mySecondTable {
        margin-left: 0px;
    }
    #common {
        margin: 20px !important;
    }
}

@media(min-width:769px) and (max-width:992px){
    #myFirstTable,#mySecondTable {
        margin-left: 0px;
    }
    #common {
        margin: 20px !important;
    }
}



